.container{
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}

.vh-100{
    height: calc(100vh - var(--nav-heigth));
}

.txt-center{
    text-align: center;
}

.copy{
    margin: 20px 0;
    font-weight: 300;
    font-size: 1.2rem;
}