@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(variables.css);
@import url(config.css);
@import url(ayuda.css);
@import url(header.css);
@import url(inicio);                                                              
@import url(servicios.css);
@import url(galerie.css);
@import url(contacto.css);


/*--MEDIA-*/
@media (max-width: 800px) {
    .principal{
        flex-direction: column;
    }

    .ilustracion{
        order: 1;
    }

    .text{
        order: 2;
    }

    .nosotros{
        flex-direction: column;
        align-items: center;
    }

    .cards{
        display: flex;
        flex-direction: column;
    }

    .card__item{
        max-width: 350px;
        width: 80%;
        text-align: center;
        padding: 40px 0;
        margin-bottom: 30PX;
        border-radius: 10px;
    }

    .galery{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     .img{
         width: 80%;
         height: 350px;
         border-radius: 3px;
         margin-bottom: 30px;
     }
   


}
