.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.card__item{
    max-width: 350px;
    width: 30%;
    background-color: var(--white-color);
    color: var(--second-color);
    text-align: center;
    padding: 40px 0;
    border-radius: 10px;
}

.card__plan{
    color: var(--second-color);
    margin-bottom: 20px;
}

.card__price{
    font-size: 3rem;
    color: var(--second-color);
    margin-bottom: 20px;
}

.card__caracteristic{
    margin-bottom: 25px;
}

.card__item--active{
    background-color: var(--main-color);
}

@media(max-width: 800px){
    .cards{
        display: flex;
        flex-direction: column;
    }

    .card__item{
        max-width: 350px;
        width: 80%;
        text-align: center;
        padding: 40px 0;
        margin-bottom: 30PX;
        border-radius: 10px;
    }
}